<!-- Porción de codigo para mostrar los comentarios que usaremos dentro de la vista de cada post: show post-->

<%=div_for comment do %> 
		<p>
		<strong>Posted <%= time_ago_in_words(comment.created_at) %> </strong><br />
		<%= h(comment.body)%>
		</p>
<% end %>
